<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotel Booking Confirmation</title>
  </head>
  <body>
    <div style="font-size: 1rem; color: black">
      Hi <%= bookingDetails.name%>, <br />
      Your booking for
      <span style="font-weight: 600"><%= bookingDetails.hotelName%> </span> has
      been confirmed successfully.
      <br />
      <br />
      <br />
      <span style="font-weight: 600">Thanks and Regards</span>,<br />
      <span style="font-weight: 600"> Team BookNow</span>,<br />
    </div>
  </body>
</html>
