<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookNow Reset Password</title>
  </head>
  <body>
    <div style="font-size: 1rem; color: black">
      <br style="font-size: 1rem; color: black" />
      Hi <%= resetPasswordInfo.name %>, <br />
      <br />
      <p>
        You are receiving this mail because you (or someone else) have requested
        the reset of the password for your bookNow account. <br />
        Please click on the following link, to complete the process
        <a href="<%= resetPasswordInfo.url %>">Click To Reset Your Password</a>
        <br />
        If you did not request this, please ignore this email and your password
        will remain unchanged.
      </p>
      <br />
      <br />
      <br />
      <span style="font-weight: 600">Thanks and Regards,</span><br />
      <span style="font-weight: 600">Team BookNow</span><br />
    </div>
  </body>
</html>
