<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotel Booking Confirmation Page</title>
  </head>
  <body>
    <div style="font-size: 1rem; color: black">
      Hi Dear,
      <br />
      your booking for <%= bookingDetails.hotelName%> is confirmed
      <br />
      <br />
      <br />
      Thank you
      <br />
      bookNow Team.
    </div>
  </body>
</html>
